@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_home.cshtml";
}

<!DOCTYPE html>

<div class="about_text">
    <h1>.</h1>
    <h2>About Us😃</h2>
    <blockquote>
        A Constructions and Real Estate projects management system is a web application that allows customers that have projects want to establish it in to communicate and hire project managers and Team leaders to accomplish and delivertheir projects in easy, fast way.

    </blockquote>



</div>


