
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loggedin</title>
</head>
<body>
    <div> 
        <h4>welcom @Session["UserName"]</h4>
    </div>
</body>
</html>
