@model IEnumerable<RE.Models.User>

@{
    ViewBag.Title = "search";
    Layout = null;
}
<h2>Search</h2>
<h4>To Search For Jounior Engineers "JE":</h4>
<p>
    @using (Html.BeginForm())
    {
    <p>
        Name: @Html.TextBox("searchstring")
        <input type="submit" value="Search" />
    </p>
    }
    </p>
    <table class="table_pm">
        <tr>
            <th>
                <h4>JE Name</h4>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.JobRole == "JE")
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.UserName)

                    </td>
                </tr>
            }

        }
    </table>


